/* TEXTO */
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 16px;
}
header{
    text-align: center; background-color: palevioletred;
    margin: 0 auto;
    width: 70%;   
}
nav{
    background-color: white;
    margin: 0 auto;
    width: 10%;
}